/* resets */
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

/* presets */
    .left {
        text-align: left;
    }
    .center {
        text-align: center;
    }
    .right {
        text-align: right;
    }
    .flex {
        display: flex;
    }
    .full-width {
        width: 100%;
    }
    .full-height {
        height: 100%;
    }

/* set 1rem = 10px */
    html {
        font-size: 62.5%;
        width: 100vw;
        height: 100vh;
    }

/* CUSTOM PROPERTIES */
    :root {
        --clr-light: #fff;
        --clr-dark: #000;
        --fs-h1: 5rem;
        --fs-body: 2rem;
    }

/* set max width = 1000px*/
    body {
        max-width: 1000px;
        margin: 0 auto;
        color: var(--clr-dark);
    }

/* ---- HEADER ---- */
    header {
        margin: 3rem auto;
        font-size: var(--fs-h1);
    }

/* ---- MAIN ---- */
    main {
        justify-content: center;
        flex-wrap: wrap;
        gap: var(--fs-body);
        background: lightgray;
    }

    /* default size for color square divs */
    main > div {
        width: 30rem;
        height: 30rem;
        align-items: center;
        border: 2px solid purple; /* delete */
    }
    /* container for hex and rgb vals */
    #random-result,
    #guessed-result {
        width: 80%;
        margin: auto;
        background: rgba(255, 255, 255, .75);
        border-radius: 2rem;
    }
    /* label and color value */
    .value-line {
        font-size: var(--fs-body);
        padding: var(--fs-body);
    }
    /* add padding betwen label and val */
    .value-line label {
        padding-right: var(--fs-body);
    }

    /* guesses */
    #guessed-color {
        background: #000;
    }