/* resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* set 1rem = 10px */
html {
    font-size: 62.5%;
    background: black;
    color: white;
}

body {
    max-width: 1800px;
    margin: auto;
}

header {
    margin: 1rem auto;
    text-align: center;
    font-size: 4rem;
}

main,
.super-container {
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}


/* set div size for color squares */
#random-color,
#guessed-color {
    content: '';
    width: 30rem;
    height: 30rem;
    border-radius: 1rem;
    border: 1px solid white;
}

/* rgb container */
.rgb-container,
.result-container {
    width: 50vw;
    max-width: 63rem;
    background: rgba(255, 255, 255, .50);
    border: 1px solid white;
    border-radius: 1rem;
    padding: 1rem;
}

/* change slider color */
#range-red {
    accent-color: #ff0000;
}
#range-green {
    accent-color: #00ff00;
}
#range-blue {
    accent-color: #0000ff;
}
/* container for each color */
.color-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

/* vertical align everything inside rgb container */
label,
span,
.slider {
    /* margin: auto 1rem; */
}

/* print color from slider*/
.print-color {
    text-align: right;
}

.result-container {
    order: 1;
}